* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root {
    --primary-color: #E3E6F3;
    --secondary-color: #088178;
    --navText-color: #1a1a1a;
    --allText-color: #000000;
    --body-color: #E3E6F3;
    --pink: #f7dde3;
    --productBorder-color: #E3E6F3;
    --formBorder-color: #9da4cc;

}

.dark-theme {
    --primary-color: #181a1f;
    --secondary-color: #088178;
    --navText-color: #fff;
    --allText-color: #fff;
    /* --body-color: #111215; */
    --body-color: #181a1f;
    --pink: #f7dde3;
    --productBorder-color: #1f2229;
    --formBorder-color: #e1e1e1;
}

/* loader ⏲️ */


.section-p1,
.product1 {
    padding: 40px 80px;
}

hr {
    background: var(--formBorder-color);
    height: 2px;
    font-weight: 900;
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: var(--primary-color);
    box-shadow: 0 0 15px #000;
    z-index: 999;
    position: sticky;
    top: 0;
    width: 100%;
}

.header img,
.logo {
    width: 10rem;
}

.nevbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nevbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

.nevbar li a,
.themeOverview {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--navText-color);
}

.nevbar li a:hover,
.nevbar li a.active,
.themeOverview:hover {
    color: var(--secondary-color);
}

.nevbar li a.active::after,
.nevbar li a:hover::after {
    content: "";
    width: 30%;
    height: 3px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -8px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}

.closeNev {
    display: none;
}

.themeOverview i {
    border-radius: 20px;
    padding: 15px;
    background-color: #cce7d0;
}

.hero {
    background-image: url("./img/mainimage.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--primary-color);
}

.hero h4 {
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 15px;
    color: var(--allText-color);
}

.hero h2 {

    font-size: 4.5rem;
    font-weight: 500;
    color: var(--allText-color);
}

.hero h1 {
    font-size: 4rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.hero p {
    font-size: 1.2rem;
    padding: 10px;
    color: var(--allText-color);
}

.hero button {
    background-image: url("img/btnimage2.png");
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    padding: 14px 80px 14px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--body-color);
}

.feBox {
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 25px 25px 34px rgb(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 15px;
    background-color: #fff;
}

.feBox:hover {
    box-shadow: 10px 10px 54px rgb(24, 137, 129, 0.30);
}

.feBox img {
    width: 100%;
    margin-bottom: 20px;
}

.feBox h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--pink);
    font-size: 15px;
}

.product1 h2,
.product1 p {
    text-align: center;
}

.product1 {
    background-color: var(--body-color);
}

.pro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.product1 h2 {
    font-size: 3.5rem;
    padding: 10px;
    color: var(--allText-color);
}

.product1 p {
    font-size: 1rem;
    padding-bottom: 20px;
    font-weight: 400;
    color: var(--allText-color);
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin-top: 20px;
    border: 1px solid var(--productBorder-color);
    background-color: var(--productBorder-color);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 34px rgb(0, 0, 0, 0.10);
    border: none;
    position: relative;
}

.pro:hover {
    box-shadow: 10px 10px 54px rgb(24, 137, 129, 0.30);
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

.des {
    padding: 10px 0;
}

.des span {
    color: #088178;
    font-size: 15px;
}

.des h5 {
    padding: 7px 0 7px 0;
    color: var(--allText-color);
    font-size: 18px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.des i {
    color: #f8d403;
}

.des h4 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
}

.cart i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    text-align: center;
    border: 1 solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("https://img.freepik.com/free-photo/elegant-background-perfect-black-friday_1361-3600.jpg?w=1060&t=st=1688787720~exp=1688788320~hmac=9f8561601a06dbc0a72cb81a6ff41c6621a7f18a6fa2235a4f3e60137f886d18");
    background-color: var(--body-color);
    padding: 40px 0;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 34px rgb(0, 0, 0, 0.10);
}

.banner:hover {
    box-shadow: 10px 10px 54px rgb(24, 137, 129, 0.30);
}

.banner h4 {
    color: #fff;
    font-size: 2rem;
}

.banner h2 {
    color: #fff;
    font-size: 3rem;
    padding: 10px 0 20px 0;
}

.banner span {
    color: #c51a07;
}

.banner button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s linear;
}


.banner button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--body-color);
    transition: 1s ease;
}

.banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://img.freepik.com/free-photo/young-woman-yellow-warm-sweater-with-megaphone-speaker-screaming-left-pointing-index-finger_343596-7143.jpg?w=1060&t=st=1689234553~exp=1689235153~hmac=3598e40c5a3a9e5d02541ebce35c50485c8808db51cb51e088e36873812412f7");
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.banner-box:hover button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}

.banner-box2 {
    background-image: url("https://img.freepik.com/free-photo/happy-attractive-young-man-with-bristle-hawaiian-shirt-pointing-side-copyspace-by-thumb-finger_295783-14185.jpg?w=1060&t=st=1689234457~exp=1689235057~hmac=d08c2bb60a872c0b7ab9f20a61b9fe69d422a7a64494ee99fea559a08536728f");
}

.banner-box h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
}

.banner-box h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    padding: 5px 0 10px 0;
}

.banner-box span {
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 0 10px 0;
}

.banner-box button {
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.5s ease;
}

.endedBanner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--body-color);
    transition: 1s ease;
    padding: 30px;
}

.banner-boxes {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("https://img.freepik.com/free-photo/graphic-tshirt-trendy-design-mockup-presented-wooden-hanger_460848-14045.jpg?w=826&t=st=1689233910~exp=1689234510~hmac=7c68528e73819e812d987d1946d3ae76fe4f030b15ca6196c5dbb6984d019400");
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: 15px;
}

.banner-boxes2 {
    background-image: url("https://img.freepik.com/free-photo/medium-shot-girl-with-hat-copy-space_23-2148350092.jpg?w=1380&t=st=1689234004~exp=1689234604~hmac=e886303b33c84eeb5e82fd55ba475a861ef6d1aaf86afdebba71656d045d99c2");
}

.banner-boxes3 {
    background-image: url("https://img.freepik.com/free-photo/shirt-mockup-concept-with-plain-clothing_23-2149448756.jpg?w=1060&t=st=1689234148~exp=1689234748~hmac=cbeb432fcea2b627914b64eb6019446673f1995f8e516b9e5dbf835f9b562cb2");
}

.banner-boxes h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-boxes h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    margin: 10px 0;
    color: #c51a07;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newLetter {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/top-view-black-friday-arrangement-black-background-with-copy-space_23-2148665575.jpg?w=1060&t=st=1688796993~exp=1688797593~hmac=3fcc63077618af7598e8deb2b10a5faff4527151d9cc38119429583398699d0c");
    min-width: 48%;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    background-color: var(--primary-color);
}

.newsText h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.newsText p {
    font-size: 15px;
    color: #dddddd;
    padding-top: 15px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newsText span {
    font-size: 15px;
    font-weight: lighter;
    color: #ffca28;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forms {
    display: flex;
    width: 40%;
}

.forms input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
}

.forms button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s linear;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.partners {
    background-color: var(--body-color);
    transition: 1s ease;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.partners img {
    width: 10rem;
}

.partnerimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners h2 {
    font-size: 4rem;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--allText-color);
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--body-color);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.downLogo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 1.6rem;
    padding-bottom: 20px;
    color: var(--allText-color);
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p {
    font-size: 1.2rem;
    margin: 0 0 8px 0;
    color: var(--allText-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--allText-color);
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer i {
    color: #088178;
}

.follow {
    padding-right: 4px;
    cursor: pointer;
}

.install img {
    width: 10rem;
    border: 1 solid #088178;
    border-radius: 4px;
    margin: 10px 0 15px 0;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


footer a:hover,
footer i:hover {
    color: #fff;
    text-shadow: 0 0 5px #088178,
        0 0 25px #088178,
        0 0 50px #088178,
        0 0 100px #088178;
}



/* ********************************************************shope page style star from here 😺😺😺***************************************************** */



.page-header {
    background-image: url("https://images.unsplash.com/photo-1688607932921-5b9b4d15f1cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header h2 {
    color: #fff;
    font-size: 4rem;
}

.page-header p {
    color: #fff;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.pagination {
    text-align: center;
    background-color: var(--body-color);
    padding: 30px 20px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #088178;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
}



/********************************************************* single product page style star from here 😺😺😺***************************************************** */

.prodetails {
    display: flex;
    background-color: var(--body-color);
}

.single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-image-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.small-image-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-image-col img {
    width: 100%;
    height: 80%;
}

.single-pro-details {
    width: 50%;
    padding-top: 30px;
}

.single-pro-details h6 {
    font-size: 1.3rem;
    color: var(--allText-color);
}

.single-pro-details h4 {
    font-size: 1.7rem;
    padding: 40px 0 20px 0;
    color: var(--allText-color);
}

.single-pro-details h2 {
    font-size: 2rem;
    color: var(--allText-color);
}

.single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin: 20px 0;
}

.single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-pro-details button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    color: #fff;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s linear;
}

.single-pro-details span {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--allText-color);
}




/********************************************************* blog page page style star from here 😺😺😺***************************************************** */




.blog-header {
    background-image: url("https://img.freepik.com/free-photo/beautiful-woman_144627-32885.jpg?w=996&t=st=1689045951~exp=1689046551~hmac=18f892bda23540e1d89aef7e9b2930a1d16c50dea7ae3a608d7810299ed6485d");
}

.blog {
    padding: 150px 150px 0 150px;
    background-color: var(--body-color);
}

.blog-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

.blog-img {
    width: 50%;
    margin-right: 40px;
}

.blog-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-details {
    width: 50%;
}

.blog-details h4 {
    font-size: 1.8rem;
    padding: 0 0 15px 0;
    color: var(--allText-color);
}

.blog-details p {
    font-size: 1.3rem;
    padding: 0 0 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: var(--allText-color);
}

.blog-details a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: #1274ee;
    transition: 0.3s ease;
    padding-top: 10px;
}

.blog-details a:hover {
    color: #088178;
}


/* ********************************************************about page style star from here 😺😺😺***************************************************** */



.about-header {
    background-image: url("https://img.freepik.com/free-vector/orange-question-mark-background-with-text-space_1017-27394.jpg?w=740&t=st=1689158591~exp=1689159191~hmac=a398800bba361fbb7aff88e031a5be00cfd02d2df84ad826600fdb857b31f9b3");
}

.about {
    display: flex;
    align-items: center;
    background-color: var(--body-color);
}

.about img {
    width: 50%;
    height: auto;
    mix-blend-mode: multiply;
}

.about div {
    padding-left: 40px;
}

.about h2 {
    font-size: 3rem;
    color: var(--allText-color);
    padding: 0 0 20px 0;
}

.about p {
    font-size: 1.5rem;
    color: var(--allText-color);
    padding: 0 0 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.about abbr {
    font-size: 1.7rem;
    color: var(--allText-color);
    padding: 0 0 20px 0;
}

.about-app {
    text-align: center;
    background-color: var(--body-color);
}

.about-app h1 {
    font-size: 3rem;
    color: var(--allText-color);
}

.video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

.video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* ********************************************************contact page style star from here 😺😺😺***************************************************** */




.contact-header {
    background-image: url("https://img.freepik.com/free-photo/portrait-young-people-with-thought-bubble_23-2149184861.jpg?w=1060&t=st=1689216335~exp=1689216935~hmac=5fa197f7ba0222c0b91b0cefcb28792ce635f70e0bae7ad0345c4909cf7993e4");

}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
}

.details {
    width: 40%;
}

.details span,
.form-detail span {
    font-size: 1rem;
    color: var(--allText-color);
}

.details h2,
.form-detail h2 {
    font-size: 2rem;
    color: var(--allText-color);
    padding: 15px 0;
}

.details h3 {
    font-size: 1.2rem;
    color: var(--allText-color);
    padding: 15px 0;
}

.details p {
    font-size: 1.1rem;
    color: var(--allText-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
}

.details li {
    list-style: none;
    display: flex;
    padding: 15px 0;
}

.details i {
    font-size: 1.4rem;
    padding-right: 22px;
    color: var(--allText-color);
}

.map {
    width: 55%;
    height: auto;
}

.map iframe {
    width: 100%;
}

.form-detail
{
    background-color: var(--body-color);
}

.form-container
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 40px;
    border: 1px solid var(--formBorder-color);
}

.form-detail form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.form-detail input,
.form-detail textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.form-detail button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #088178;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.people div
{
    padding-bottom: 25px;

}

.people div img
{
    width: 70px;
    height:70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.people div 
{
    padding-bottom: 25px;
}

.people p 
{
    margin: 0;
    font-size: 1rem;
    line-height: 25px;
    color: var(--allText-color);
}

.people span 
{
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
}



/* ********************************************************cart page style star from here 😺😺😺***************************************************** */


.cart-header
{
    background-image: url("https://img.freepik.com/free-psd/shoping-cart-isometric-3d-render-icon_47987-9068.jpg?w=740&t=st=1689247951~exp=1689248551~hmac=c66b487de3675df5e6716610f871f5947602ebd7a71a5dc8e6790ce9aea50812");
}

.cartSection
{
    background-color: var(--body-color);
    overflow-x: auto;
}

.cartSection table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    color: var(--allText-color);
}

.cartSection table img
{
    width: 70px;
}

.cartSection table td:nth-child(1)
{
    width: 100px;
    align-items: center;
}

.cartSection table td:nth-child(2)
{
    width: 150px;
    align-items: center;
}

.cartSection table td:nth-child(3)
{
    width: 150px;
    padding-right: 30px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cartSection table td:nth-child(4),
.cartSection table td:nth-child(5),
.cartSection table td:nth-child(6)
{
    width: 150px;
    align-items: center;
}

.cartSection table td:nth-child(5) input
{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

.cartSection table thead
{
    border: 1px solid var(--formBorder-color);
    border-left: none;
    border-right: none;
}

.cartSection table thead td
{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 18px 0;
}


.cartSection table tbody tr td
{
    padding-top: 15px;
}

.cartSection table tbody td
{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.totalPay 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--body-color);
}

.coupon
{
    width: 50%;
    margin-bottom: 30px;
}

.coupon h3,
.subtotal h3
{
    padding-bottom: 15px;
    font-size: 1.5rem;
    color: var(--allText-color);
}


.coupon input
{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

.coupon button
{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #088178;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    outline: none;
    border: none;
}

.subtotal
{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    color: var(--allText-color);
}

.subtotal table
{
    border-collapse: collapse ;
    width: 100%;
    margin-bottom: 20px;
}

.subtotal table td
{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 1.3rem;
}

.subtotal button
{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #088178;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    outline: none;
    border: none;
}











/* media quaries */


@media (max-width: 1024px) {

    .section-p1,
    .product1 {
        padding: 40px 40px;
    }

    .nevbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--productBorder-color);
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    .active {
        right: 0px;
        transition: 1s ease;
    }

    .closeNev {
        display: inline;
        position: absolute;
        top: 50px;
        left: 30px;
        color: var(--allText-color);
        font-size: 24px;
    }

    .nevbar li {
        margin-bottom: 30px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: var(--allText-color);
        font-size: 24px;
    }

    .mobile a,
    .mobile p {
        padding: 25px;
    }

    .hero {
        height: 70vh;
        padding: 0 40px;
        transition: 1s ease;
        background-position: top 100% left 10%;
    }

    .feature {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feBox {
        margin: 15px 15px;
    }

    .pro-container {
        justify-content: center;
        padding-top: 20px;
    }

    .pro {
        margin: 20px;
    }

    .banner {
        height: auto;
    }

    .banner h4 {
        color: #fff;
        font-size: 1.5rem;
    }

    .banner h2 {
        font-size: 2rem;
    }

    .banner-box {
        min-width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 40px;
    }

    .endedBanner {
        padding: 10px;
    }

    .banner-boxes {
        width: 30%;
        height: 15vh;
    }

    .banner-boxes h2 {
        font-size: 1rem;
    }

    .banner-boxes h3 {
        font-size: 0.7rem;
    }

    .newLetter {
        flex-wrap: nowrap;
        height: auto;
        padding: 0px;
    }

    .forms {
        width: 70%;
    }

    .newsText h4 {
        font-size: 1.5rem;
    }

    .partners {
        justify-content: center;
    }

    .partners img {
        width: 8rem;
    }

    .page-header {
        height: 30vh;
    }

    .blog {
        padding: 100px 20px 0 20px;
        background-color: var(--body-color);
    }

    .blog-details p {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding: 10px 0 0 0;
    }

    .blog-details h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: pre-wrap;
        padding-bottom: 0;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 100%;
    }

    .about h2 {
        margin-top: 20px;
    }

    .video {
        width: 100%;
    }

    .form-detail form {
        width: 56%;
        
    }


}

@media (max-width: 640px) {

    .section-p1,
    .product1 {
        padding: 20px;
    }

    .header {
        padding: 10px 15px;
    }

    .hero {
        padding: 0 20px;
    }

    .hero h4 {
        font-size: 1.3rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero {
        height: 60vh;
        padding: 0 20px;
    }

    .feBox {
        width: 140px;
        margin: 10px 10px;
    }

    .product1 h2 {
        font-size: 2rem;
    }

    .product1 p {
        font-size: .8rem;
    }

    .pro {
        width: 100%;
    }

    .banner h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .banner button {
        padding: 5px;
        font-size: 10px;
    }

    .banner-box h2 {
        font-size: 1.5rem;
    }

    .banner-box h4 {
        font-size: 1rem;
    }

    .banner-box button {
        font-size: 9px;
    }

    .banner-boxes {
        width: 100%;
        margin: 20px 10px;
    }

    .newLetter {
        flex-wrap: wrap;
        padding: 0px;
    }

    .forms {
        width: 100%;
    }

    .partners h2 {
        font-size: 2rem;
    }

    .partners img {
        width: 5rem;
    }

    .page-header {
        height: 30vh;
    }


    .page-header h2 {
        font-size: 2.5rem;
    }

    .page-header p {
        font-size: 1rem;
    }

    .prodetails {
        flex-direction: column;
    }

    .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    .single-pro-details {
        width: 100%;
    }

    .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .blog-details {
        width: 100%;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about p {
        font-size: 1.2rem;
    }

    .about abbr {
        font-size: 1rem;
    }

    .about div {
        padding-left: 0px;
    }

    .about-app h1 {
        font-size: 2rem;
    }

    .contact {
        flex-direction: column;
    }

    .details {
        width: 100%;
        padding: 20px 0;
    }
    
    .map
    {
        width: 100%;
    }

    .form-container {
        margin: 5px;
        padding: 15px;
    }

    .form-container {
        flex-wrap: wrap;
    }

    .form-detail form
    {
        width: 100%;
        margin-bottom: 30px;
    }

    .totalPay 
    {
        flex-direction: column;
        padding-top: 20px;
    }

    .coupon
    {
        width: 100%;
    }

    .subtotal
    {
        width: 100%;
        padding: 15px;
    }




}

@media (max-width: 320px) {

    .header img {
        width: 7rem;
    }

    .feBox {
        width: 100px;
    }

    .feBox h6 {
        padding: 5px;
        font-size: 10px;
    }
    
    .page-header {
        height: 40vh;
    }

    footer p {
        font-size: 1rem;
    }

    .coupon input {
        width: 50%;
    }

}